<table class='table table-striped table-hover'>
  <tr>
    <th>
      name
    </th>
    <th>
      status
    </th>
  </tr>
  <% campers.each do |camper| %>
    <% if camper.last_completed_application %>
      <tr>
        <td>
          <%= link_to camper.name, user_path(camper.id) %>
        </td>
        <% if camper.accepted.nil? %>
          <td class='warning'>
            <%= link_to "see application", application_path(camper.last_completed_application.id) %>
          </td>
        <% else %>
          <% if camper.last_completed_application %>
            <% if camper.accepted %>
              <td class='success'>
                accepted
            <% else %>
              <td class='danger'>
                denied
            <% end %>
            (<%= link_to 'undo', undo_user_path(camper.id) %>)
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
