<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Camp Registration Page</h1>
        <h3>Sign in here to register for camp!</h3>
        <%= button_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    </div>
</header>
