<div class='camp-roster'>
  <% if @returning_campers.present? %>
    <h3> Returning </h3>
    <%= render partial: 'applications', locals: {campers: @returning_campers} %>
  <% end %>

  <% if @new_campers.present? %>
    <h3> New </h3>
    <%= render partial: 'applications', locals: {campers: @new_campers} %>
  <% end %>

  <% if @decided_campers.present? %>
    <h3> Decided </h3>
    <%= render partial: 'applications', locals: {campers: @decided_campers} %>
  <% end %>
</div>
