<div class='camp-roster'>
  <h3> Returning </h3>
  <% if @returning_campers %>
    <%= render partial: 'applications', locals: {campers: @returning_campers} %>
  <% end %>

  <h3> New </h3>
  <% if @new_campers %>
    <%= render partial: 'applications', locals: {campers: @new_campers} %>
  <% end %>
</div>
